@{
    ViewData["Title"] = "Home Page";
}

<form>
    <textarea name="md" id="markdown" cols="30" rows="10"></textarea>
</form>

@section Scripts{
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("markdown") });
    </script>
}